@{
    Layout = "_UserLayout";
}

<div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title" style="text-align:center;">About us</div>
                    <div class="page-subtitle">The best website to find jobs in 2022</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-photo-sc container-fluid blue-bg">
    <div class="row">
        <div class="col-md-6 photo-holder photo1"></div>
        <div class="col-md-6 text-holder text1">
            <div class="text-box">
                <h4>Our full story</h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>

                <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                        
                <p>emporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
            </div>
        </div>
    </div>
</div>
<div class="text-photo-sc container-fluid darkblue-bg">
    <div class="row rtl-row">
        <div class="col-md-6 photo-holder photo2"></div>
        <div class="col-md-6 text-holder text2 opposite">
            <div class="text-box">
                <h4>Passion to serve with excellence</h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>

                <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                        
                <p>emporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
            </div>
        </div>
    </div>
</div>
@*<div class="services container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Our services</div>
                <div class="row-subtitle">We provide secure and private access to a free and open internet. Enabling access to social networks, sports, audio and video streaming</div>
            </div>
        </div>
        <div class="row custom-padding">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="webhosting.html" class="service-box">
                    <div class="title">Job Posting</div>
                    <div class="icon"><img src="images/job-svgrepo-com.svg" alt=""></div>
                </a>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="webhosting.html" class="service-box">
                    <div class="title">Job Posting</div>
                    <div class="icon"><img src="images/job-svgrepo-com.svg" alt=""></div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="webhosting.html" class="service-box">
                    <div class="title">Job Posting</div>
                    <div class="icon"><img src="images/job-svgrepo-com.svg" alt=""></div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="webhosting.html" class="service-box">
                    <div class="title">Job Posting</div>
                    <div class="icon"><img src="images/job-svgrepo-com.svg" alt=""></div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="webhosting.html" class="service-box">
                    <div class="title">Job Posting</div>
                    <div class="icon"><img src="images/job-svgrepo-com.svg" alt=""></div>
                </a>
            </div>
            
        </div>
    </div>
</div>*@